*{
    padding: 0;
    margin: 0;
}
.containar{
    width: 1300px;
    margin: 0 auto;

}
header{
    background-color: darkslateblue;
    
}
.flex{
    display: flex;
    align-items: center;
}
.links li{
    display: inline;
    font-size: 25px;
    color: white;
    margin: 0 25px 0 0;
}
.jcs{
    justify-content: space-between;
}
.logo a{
    font-size: 50px;
    color: white;
    text-decoration: none;
}
.icon li{
    font-size: 25px;
    color: white;
    display: inline;
    margin: 0 15px 0 0;
}
